.topPane {
  margin-left: 30px;
  margin-right: 30px;
}

.editor {
  max-width: 600px;
  min-width: 350px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #C0D8D7;
  border: 1px gray solid;
}

.topBar {
  height: 25px;
  width: 100%;
  max-width: 600px;
  min-width: 350px;
  border: 1px gray solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  background-color: #C0D8D7;
}


@media (max-width: 650px) { 
  .editor {
    margin-top: 5px;
  }
}